@model DeckHand

@foreach(Card c in Model.cards){
    <p.a>======================================================================================================================</p.a>
    <p.a>========================================================CARD:==========================================================</p.a>
    <p.a>======================================================================================================================</p.a>
    <p>SUIT: @c.suit  VALUE: @c.value </p>
    
    <img src="@c.image"/>
}
<!--Add Draw 5 more cards here-->
<p>:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</p>
<p>PRESS SUBMIT FOR 5 MORE CARDS</p>
<form asp-action="Draw" asp-controller="Home">
    <input type="submit" />
</form>



